html{
    max-width: 960px;
    margin: 0 auto;
}
img{
    width: 960px;
    height: auto;
}
header span{
    display: inline;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: red;
}
form input{
    display: block;
}
#textarea{
    height: 150px;
    
}